
body{
  background-color: rgb(70, 177, 207);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 table{
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 3px;
  border: 1px solid  #ccc;
  border-radius: 10px;
  color: blueviolet;
 }

 td{
  border: 1px solid #ccc;
}

th{
  font-size: 18.5px;
  font-weight: 800;
  border: 1px solid #ccc;
  background-color: rgb(213, 213, 107);
  padding: 5px;
 }

 #tmsp{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: white;
  margin: 10px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  
 }
 #tmsp h3{
  /* font-weight: 100; */
  margin: 0px;
  margin-top: 4px;
margin-right: 15px;
 }

 a{
  color: blueviolet;
  font-size: 16px;
 }
 a:hover{
    color: rgb(90, 20, 156);

 }
 #type{
  width: 100%;

 }
 #fifi{
  text-align: center;
  color: blueviolet;
  padding: 0px 20px;
  border: 2px solid white;
  border-radius: 5px;
  
  margin: 0px;
 }

 #fifi h2{
  padding: 0px;
 }

 /* .a1:hover{ */
  /* color: rgb(90, 20, 156); */
  /* color: red; */
 /* } */

 #timee{
  color: blueviolet;
  border: 2px solid white;
  border-radius: 5px;
 }
  #timee h3{
  margin: 70px 0px;
  }

  #tmsp{
    background-color: white;
  }
  /* .open:hover{
      cursor: pointer;
      color: rgb(90, 20, 156);
    } */
     td.open:hover {
      cursor: pointer;
      /* color: rgb(90, 20, 156); */
     }
     a.a1:hover{
      color: rgb(90, 20, 156);
     }

  @media (max-width: 600px) {
    table{
      font-size: 15.5px;
    }

    th{
      font-size: 16px;
    }

    td{
      padding: 4px 0px;
    }

    #timee{
      font-size: 13.5px;
    }

    #timee h3 {
      margin-right: 0px;
      padding-right: 0px ;
      font-size: 1px;
    }

    #fifi {
      font-size: 17px;
      padding: 0px 0px;
      margin: 0px 0px;
      margin-left: 9px;
    }

    #tmsp{
     border-radius: 8px;
     padding: 3px 0px;
     margin-top: 12px;
    
    }

    #tmsp h3{
      margin-right: 10px;
    }

    #fifi h2{
      margin-left: 10px;
    }
    
}


 
 
 
